/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.hero {
    background-color: #006699; /* Azul claro */
    color: white;
    text-align: center;
    padding: 40px 20px;
}

    .hero h1 {
        font-size: 2.5em;
        margin: 0;
    }

    .hero p {
        font-size: 1.2em;
        margin-top: 10px;
    }

/* Estilo para la sección de Servicios */
.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 20px;
    gap: 20px;
}

.service {
    background-color: white;
    width: 22%;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

    .service:hover {
        transform: scale(1.05);
    }

    .service img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .service h2 {
        font-size: 1.5em;
        margin-top: 20px;
    }

    .service p {
        font-size: 1em;
        color: #555;
    }


